#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    disabled
    class early_hal
    user nfc
    group nfc

service qti_esepowermanager_service_1_1 /vendor/bin/hw/vendor.qti.esepowermanager@1.1-service
    override
    disabled
    class hal
    user system
    group nfc system

service secureelement-hal_1_2 /vendor/bin/hw/vendor.qti.secure_element@1.2-service
    override
    disabled
    class hal
    user system
    group system

# Redmi Note 11 Pro 5G (Global)
on early-init && property:ro.boot.board_id=S88006AA1
    setprop bluetooth.device.default_name "Redmi Note 11 Pro 5G"
    setprop vendor.usb.product_string "Redmi Note 11 Pro 5G"
    setprop ro.boot.product.hardware.sku pn557
    mount none /product/lost+found /product/app/MobileFeliCaClient/MobileFeliCaClient.apk bind
    mount none /product/lost+found /product/priv-app/EuiccGoogle/EuiccGoogle.apk bind

# Redmi Note 11E Pro
on early-init && property:ro.boot.board_id=S88007AA1
    setprop bluetooth.device.default_name "Redmi Note 11E Pro"
    setprop vendor.usb.product_string "Redmi Note 11E Pro"
    setprop ro.boot.product.hardware.sku sn100
    mount none /product/lost+found /product/app/MobileFeliCaClient/MobileFeliCaClient.apk bind
    mount none /product/lost+found /product/priv-app/EuiccGoogle/EuiccGoogle.apk bind

# Redmi Note 11 Pro+ 5G (India)
on early-init && property:ro.boot.board_id=S88007EA1
    setprop bluetooth.device.default_name "Redmi Note 11 Pro+ 5G"
    setprop vendor.usb.product_string "Redmi Note 11 Pro+ 5G"
    mount none /product/lost+found /product/app/MobileFeliCaClient/MobileFeliCaClient.apk bind
    mount none /product/lost+found /product/priv-app/EuiccGoogle/EuiccGoogle.apk bind

# Redmi Note 11 Pro 5G (Japan)
on early-init && property:ro.boot.board_id=S88008BA1
    setprop bluetooth.device.default_name "Redmi Note 11 Pro 5G"
    setprop vendor.usb.product_string "Redmi Note 11 Pro 5G"
    setprop ro.boot.product.hardware.sku sn100
    setprop masterclear.allow_retain_esim_profiles_after_fdr true

# POCO X4 Pro 5G (Global)
on early-init && property:ro.boot.board_id=S88106BA1
    setprop bluetooth.device.default_name "POCO X4 Pro 5G"
    setprop vendor.usb.product_string "POCO X4 Pro 5G"
    setprop ro.boot.product.hardware.sku pn557
    mount none /product/lost+found /product/app/MobileFeliCaClient/MobileFeliCaClient.apk bind
    mount none /product/lost+found /product/priv-app/EuiccGoogle/EuiccGoogle.apk bind

# POCO X4 Pro 5G (India)
on early-init && property:ro.boot.board_id=S88107BA1
    setprop bluetooth.device.default_name "POCO X4 Pro 5G"
    setprop vendor.usb.product_string "POCO X4 Pro 5G"
    mount none /product/lost+found /product/app/MobileFeliCaClient/MobileFeliCaClient.apk bind
    mount none /product/lost+found /product/priv-app/EuiccGoogle/EuiccGoogle.apk bind

on property:ro.boot.product.hardware.sku=pn557
    enable vendor.nfc_hal_service

on property:ro.boot.product.hardware.sku=sn100
    enable vendor.nfc_hal_service
    enable qti_esepowermanager_service_1_1
    enable secureelement-hal_1_2

    #zhangxiaodan To realize the communication between framework and thermal, we need to implement sys node in kernel
    chown system system /sys/class/thermal/thermal_message/sconfig
    chmod 0664 /sys/class/thermal/thermal_message/sconfig
    chown system system /sys/class/thermal/thermal_message/sconfig
    chmod 0666 /sys/class/thermal/thermal_message/temp_state
    chown system system /sys/class/thermal/thermal_message/temp_state

    # Allow system to modify swappiness
    chown system system /proc/sys/vm/swappiness
    chmod 0660 /proc/sys/vm/swappiness

    # Allow Core Control
    chown system system /sys/devices/system/cpu/cpu0/online
    chown system system /sys/devices/system/cpu/cpu1/online
    chown system system /sys/devices/system/cpu/cpu2/online
    chown system system /sys/devices/system/cpu/cpu3/online
    chown system system /sys/devices/system/cpu/cpu4/online
    chown system system /sys/devices/system/cpu/cpu5/online
    chown system system /sys/devices/system/cpu/cpu6/online
    chown system system /sys/devices/system/cpu/cpu7/online
    chmod 0660 /sys/devices/system/cpu/cpu0/online
    chmod 0660 /sys/devices/system/cpu/cpu1/online
    chmod 0660 /sys/devices/system/cpu/cpu2/online
    chmod 0660 /sys/devices/system/cpu/cpu3/online
    chmod 0660 /sys/devices/system/cpu/cpu4/online
    chmod 0660 /sys/devices/system/cpu/cpu5/online
    chmod 0660 /sys/devices/system/cpu/cpu6/online
    chmod 0660 /sys/devices/system/cpu/cpu7/online
  
    # Kernel Manager
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    chown system system /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy6/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy6/scaling_max_freq

    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy6/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy6/scaling_max_freq

    # GPU Manager
    chown system system /sys/class/kgsl/kgsl-3d0/devfreq/governor
    chown system system /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    chown system system /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chown system system /sys/class/kgsl/kgsl-3d0/force_clk_on
    chown system system /sys/class/kgsl/kgsl-3d0/force_bus_on
    chown system system /sys/class/kgsl/kgsl-3d0/force_rail_on
    chown system system /sys/class/kgsl/kgsl-3d0/force_no_nap
    chown system system /sys/class/kgsl/kgsl-3d0/bus_split

    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/governor
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/force_clk_on
    chmod 0664 /sys/class/kgsl/kgsl-3d0/force_bus_on
    chmod 0664 /sys/class/kgsl/kgsl-3d0/force_rail_on
    chmod 0664 /sys/class/kgsl/kgsl-3d0/force_no_nap
    chmod 0664 /sys/class/kgsl/kgsl-3d0/bus_split

    # Touch
    on boot
    chown system system /sys/devices/virtual/touch/touch_dev/bump_sample_rate

on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 243: msm_drm -> CPU 7
    # IRQ 240: kgsl_3d0_irq -> CPU 6
    write /proc/irq/243/smp_affinity_list 7
    write /proc/irq/240/smp_affinity_list 6
